.gradle
build/
gradle/
gradlew
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.bat

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
